<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Party Edit</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/party.css}" href="/css/party.css" />
</head>
<body>
<div th:replace="~{fragments/headerfooter :: header}">Hier komt de header</div>
<div class="row1">
    <div class="row1content" th:object="${party}">
        <div th:if="${party}">
            <div class="editButtonDiv">
                <a class="buttonLook smallButton" th:href="@{'/partydetails/' + ${party.id}}">back</a>
            </div>
        </div>
        <div>
            <h2 th:if="${party}" th:text="|party: *{name}|">party: onbekend</h2>
            <p th:unless="${party}">party: onbekend</p>
        </div>
        <div th:if="${party}">
            <form th:action="@{|/admin/partyedit/*{id}|}" method="post">
                <input type="submit" name="bewaar" value="save" class="saveButtonDiv buttonLook smallButton">
                <label for="partyName" class="info">Name : </label>
                <input type="text" id="partyName" th:field="*{name}"><br>
                <div class="info">Where : </div>
                <div>
                    <p>
                        <span th:text="|*{venue.getVenueName()} (*{venue.getCity()}, *{venue.getDistanceFromPublicTransportInKm()} km van openbaar vervoer)|">-</span>
                        &nbsp;&nbsp;<a th:href="@{'/venuedetails/' + *{id}}">&rarr;</a>
                    </p>
                </div><br>
                <label for="price" class="info">Price : </label>
                <input type="number" id="price" th:field="*{priceInEur}" min="0" step="1"><br>
                <label for="presaleprice" class="info">Presale price : </label>
                <input type="number" id="presaleprice" th:field="*{pricePresaleInEur}" min="0" step="1"><br>
                <div class="info">Doors : </div>
                <div><p th:text="*{doors}">0</p></div><br>
                <label for="extrainfo" class="info">Extra info : </label>
                <textarea id="extrainfo" th:field="*{extraInfo}">dummy</textarea><br>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{fragments/headerfooter :: footer}">Hier komt de footer</div>
</body>
</html>